.github-corner {
  fill: #071511;
  border: 0;
  color: #43d9ad;
  position: absolute;
  right: 0;
  top: 0;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 0.56s ease-in-out;
}
@keyframes octocat-wave {
  0%,
  to {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner {
    display: none;
  }
}
